@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;900;700&family=Roboto:ital,wght@0,500..600;8,300..800&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --green:hsl(75, 94%, 57%);
  --green-700:hsl(0, 0%, 20%);
  --green-800:hsl(0, 0%, 12%);
  --green-900:hsl(0, 0%, 8%);
 
}
body{
  font-size: 14px;
  font-family: "Inter",serif;
}
#main{
  
}